@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url(https://fonts.googleapis.com/css?family=Crimson+Pro:200&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,700&display=swap);
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #181719;
  color: white;
  font-family: "Montserrat",sans-serif;
  padding: 0 clamp(0.75rem, -0.68rem + 6.1vw, 4.813rem);
  
} 
img{
    height: auto;
    max-width: 100%;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2%  0;
    

}
.logo{
    text-transform: uppercase;
    font-size: 11px;
    border:1px solid gray;
    padding: 2px;

}
.menu_item{
    padding: 0 20px;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 18px;
    font-weight: 400;


}
.menu_item::after{
    
    content: "";
    height: 3px;
    background-color: white;
    width:0;
    position:absolute;
    bottom:-2px;
    left:0;
    transition: 0.3s ease-in-out;
    
     
}
.menu_item:hover::after{
    width: 100%;
    left: 0;
       
}
.menu_item:hover{
    font-weight: 700;
}

.btn_menu{
    font-size: 1.5rem;
    padding-right: 5px;
    display: none;
    cursor: pointer;
}
.menu_mobile{
    display: none;
    position:absolute;
    right: 0;
    height: 0;
    top:50px;
    overflow: hidden;
    padding: 0 inherit;
    background-color: #181719;
    transition: right 0.4s;  
    width: 100%; 
}
.menu_mobile.open{
    height: 100%;
    z-index: 1;
}


@media(max-width:768px){
    .nav_bar .menu_item{
        display: none;
    }
    .btn_menu{
        display: block;
    }
    .menu_mobile{
        display:block;
        
    }
    .menu_item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:1.75rem;
        font-size: 25px;
        
        
    }
    .menu_item:hover::after{
        width: 20%;
        left: 40%;
        
    }
}
@media(max-width:425px){
    .menu_item:hover::after{
        width: 40%;
        left: 31%;
        
    }

}
/*NAV BAR ACIMA !!!!!*/
/*MAIN ABAIXO */
.conteiner_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    gap:10px;
}
.texts{
    display: flex;
    flex-direction: column;
    gap:30px;
}
h1{
    font-family: "Lora";
    font-size: medium;
    font-size: 48px;
    line-height: 61px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
}
.main_text{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height:29px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    font-weight: 100;
    max-width: 410px;
}
.read_more{
    text-decoration: none;
    color: white;
    font-weight: 700;
    Font-family: "Montserrat";
    Font-style: Bold;
    Font-size: 18px;
    Line-height: 22px;
    Line-height: 100%;
    text-align: Left;
    vertical-align: top;
}
.house{
    object-fit: cover;
    width: 100%;
    height: 555px;
}


.conteiner_aliza{
    display: block;
    background-color: #181719;
    max-width: 400px;
    width: 55%;
    height: 189px;
    box-shadow: 2px 5px 3px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -82px;
    padding-top: 2%;
    padding-left: 3%;
    margin-left: 43%;
    

    
}
.flex_aliza{
    display: flex;
    
    
    
}
.aliza{
    border-radius: 50%;
    object-fit: cover;
    
}
.name{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-size: medium;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 5px;


}
.p_prof{
    

    font-family: "Montserrat";
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;

}
.designed{
    font-family: "Lora";
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    line-height: 100%;
    text-align: left;
    padding-top: 1.0rem;
    
}
@media(max-width:980px){
    .conteiner_main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}  
.conteiner_aliza{
    margin-top: -60px;
    margin-left: 9%;
    width: 90%;
    
} 
.house{
    height: 100%;
    object-fit: cover;
}
}
@media(max-width:425px){
    .conteiner_aliza{
        max-width: 250px;
        height: 120px;
    }
    h1{font-size: 30px;
    }
    .main_text{
        font-size: 16px;
        text-align: left;
        padding-right: 5rem;
    }
    .read_more{
        font-size: 12px;
    }
    .aliza{
        width:40px ;
        height:40px ;
    }
    .name {
        font-size: 12px;
    }
    .p_prof{
        font-size: 10px;
    }
    .designed{
        font-size: 15px;
    }

}
footer{
    text-align: center;
    margin-top: 2%;
}
.alec{
    text-decoration: none;
    font-style: italic;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
@media(max-width:768px){
    footer p{
        font-size: 10px;

    }
}